<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>編集画面</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <style>
    body { background-color: white; }
    h1,h2,h3 { font-size: 18px; }
    li { list-style: none;}
    table{
        width: 100%;
        border - collapse: collapse;
    }
<!--    button{-->
<!--	    height:100px;-->
<!--        }-->


    </style>
</head>
<body>
{% block body %}
<ul class="nav justify-content-center">
    <li class="nav-item">
        <a class="nav-link active" href="/show_entry">全件表示</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/filter">検索</a>
    </li>
</ul>

<form action="{{ url_for('edit_update', id=ids) }}" method="POST">
    <table class="table table-striped">


        <tr>
            <th>名前</th>
            <th>出勤記録</th>
            <th>退勤記録</th>

        </tr>
        <tr>
            <td>{% for name in all__name_string %}
                <p><label>ユーザー名 <input type="text" name="username" value={{name}}></label></p>
                {% endfor %}
            </td>
            <td>{% for time_att in times_att_string %}
                <p><label>出勤時間 <input type="text" name="time_att_time" step="1" value={{time_att}}></label></p>
                {% endfor %}
            </td>
            <td>{% for time_fin in times_fin_string %}
                <p><label>退勤時間 <input type="text" name="time_fin_time" step="1" value={{time_fin}}></label></p>
                {% endfor %}
            </td>
        </tr>
    </table>
    <button class="button btn  float-right btn-primary " type="submit">更新</button>
</form>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
{% endblock %}
</body>
</html>