<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>m-lab勤怠記録</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>

    body { background-color: white; }
    h1,h2,h3 { font-size: 18px; }
    li { list-style: none;}
    table{
        width: 100%;
        border - collapse: collapse;
    }


    </style>
</head>
<body>
<table class="table table-striped ">

    <!--    <caption>mlabの勤怠管理画面</caption>-->
    <tr>
        <th>名前</th>
        <th>出勤記録</th>
        <th>退勤記録</th>
        <th>就業時間</th>
        <th>残業時間</th>
        <th>総労働時間</th>
        <th>編集</th>
    </tr>
    <tr>
        <td>{% for name in all__name_string %}
            <li class="list-group-item-action">{{name}}</li>
            {% endfor %}
        </td>
        <td>{% for time_att in times_att_string %}
            <li class="list-group-item-action">{{time_att}}</li>
            {% endfor %}
        </td>
        <td>{% for time_fin in times_fin_string %}
            <li class="list-group-item-action">{{time_fin}}</li>
            {% endfor %}
        </td>
        <td>{% for times_sum in times_sum_date %}
            <li class="list-group-item-action">{{times_sum}}</li>
            {% endfor %}
        </td>
        <td>{% for overtimes_sum in overtimes_sum_date %}
            <li class="list-group-item-action">{{overtimes_sum}}</li>
            {% endfor %}
        </td>
        <td>{% for alltimes_sum in alltimes_sum_date%}
            <li class="list-group-item-action">{{alltimes_sum}}</li>
            {% endfor %}
        </td>
        <td>{% for i in id %}
            <a href="{{ url_for('edit', id=i)  }}">
                <li class="list-group-item-action">編集
            </a></li>
            {% endfor %}
        </td>


    </tr>
</table>
<form action="/filter" method="POST">
    <a href="{{ url_for('filter')  }}">
        <button type="button" class="btn btn-outline-primary btn-lg">検索画面へ</button>
    </a>
</form>

</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</html>
